<div class="headshotWrapper">
  <img id="mainHeadshot" src="images/headshot.jpg">
</div>

<div class="homeLinksWrapper">
  <a class="homeLinks" href="/me">me</a> <!-- implement fluid scroll down to next page -->
  <a class="homeLinks" href="/asdf">portfolio</a>
  <a class="homeLinks" href="/contact">contact</a>
</div>

<div class="gitHubLinkedInWrapper">
  <a class="noDecoration" href="https://www.linkedin.com/in/aarondesanto"><span class="icon-linkedin"></span></a>
  <a class="noDecoration" href="https://github.com/aarondesanto"><span class="icon-github"></span></a>
</div>
