<nav>
  <ul>
    <li class ="list-left"><a href="/">ins home here</a></li>
    <li class ="list-right"><a href="/me">Me</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<div class="me-wrapper">
  <div class="main-diag diag-one">
    <div class="diag-head top-diag-head">
      <h1>Me</h1>
    </div>
    <section class="diag-content">
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
    </section>
  </div>
  <div class="main-diag diag-two">
    <div class="diag-head">
      <h1>What I Write</h1>
    </div>
    <section class="diag-content">
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
    </section>
  </div>
  <div class="main-diag diag-three">
    <div class="diag-head">
      <h1>What I Enjoy</h1>
    </div>
    <section class="diag-content">
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
      <p>One two three, four five six seven eight, ten words.</p>
    </section>
  </div>
</div>


<footer>Site design &copy; Aaron DeSanto</footer>
