* { /* Reset all box models */
  margin: 0;
  border: 0;
  padding: 0;
  overflow: auto; /* Part 1 of overflow control (this removes the huge blank space without an element on the main page) */
}

/* Start of tag-specific styles */
html {
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: 'eurofurence', arial;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #50BBFF;
}
/* Start of nav bar styles */
nav {
  z-index: 5;
  overflow: visible;
  position: fixed;
  top: 0;
  height: 7%;
  width: 100%;
  background-color: #346;
}
nav ul {
  overflow: inherit;
  height: 100%;
}
nav ul li {
  overflow: inherit;
  display: inline-block;
  height: 100%;
  width: 19%;
  vertical-align: top;
}
nav ul li:hover {
  background-color: #568;
}
nav ul li:active {
  box-shadow: inset 1px 1px 8px 1px #112;
  -moz-box-shadow: inset 1px 1px 8px 1px #112;
  -webkit-box-shadow: inset 1px 1px 8px 1px #112;
}
nav ul li a {
  overflow: inherit;
  display: block;
  height: 70%;
  padding-top: 5%;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Eurofurence';
  color: #FFF;
  text-decoration: none;
}
/* End of nav bar styles */
footer {
  position: fixed;
  top: 96%;
  height: 4%;
  width: 100%;
  margin: 0;
  padding-top: 1%;
  font-size: 1.2em;
  text-align: center;
  text-shadow: 1px 1px 0 #999;
  color: rgba(33, 66, 99, 1);
  background-color: rgba(33, 66, 99, 0.4);
}
/* End of tag-specific styles */

@font-face { /* Main text font */
	font-family: 'eurofurence';
  src: url('fonts/eurofurence.ttf');
}

/*  Start of main icon font styles  */
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.ttf?48bg3v');
}
[class^="icon-"] {
	font-family: 'icomoon';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  opacity: 0.5;
  font-size: 4em;
  margin: 0 5px;
  text-shadow: 2px 2px 2px #888;
}
[class^="icon-"]:active {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 2px 2px rgba(255,255,255,0.5);
}
.icon-phone:before {
	content: "\e900";
}
.icon-github:before {
	content: "\e901";
}
.icon-linkedin:before {
	content: "\e902";
}
/*  End of main icon font styles  */

footer, .main-port, .error-text-one, .error-text-three, .headshotWrapper, .homeLinksWrapper, .github-linkedin-wrapper, .content-box {
  overflow: visible; /* Part 2 of overflow control (this ensures that shadows display properly when they spill over borders) */
}

/*  Start of 404 page styles  */
.error-page {
  height: 100%;
}
.dim-the-page {
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(80, 0, 0, 0.4);
}
.error-text-one {
  padding-top: 40%;
  text-align: center;
  font-size: 5em;
  text-shadow: 2px 2px 10px #333;
  color: #FFF;
}
.error-text-two {
  padding-bottom: 2%;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 10px #333;
  color: #FFF;
}
.error-text-three {
  padding: 0 5%;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 10px #333;
  color: #FFF;
}
.error-text-three a {
  text-decoration: none;
}
/*  End of 404 page styles  */

/*  Start of entry page styles  */
.headshotWrapper {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}
.mainHeadshot {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 4px 5px 2px #888;
  -moz-box-shadow: 4px 5px 2px #888;
  -webkit-box-shadow: 4px 5px 2px #888;
}
.homeLinksWrapper {
  width: 45%;
  margin: 8% auto;
  text-align: center;
}
.homeLinks {
  display: block;
  margin: 7px 0;
  border-radius: 45px;
  padding: 0 10%;
  font-size: 2.8em;
  text-decoration: none;
  text-shadow: 2px 2px 2px #888;
  color: #FFF;
  background-color: #40ABEF;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.homeLinks:active {
  text-shadow: 4px 4px 4px #444;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.github-linkedin-wrapper {
  width: 40%;
  margin: 15% auto 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 5%;
  text-align: center;
}
.no-decoration {
  text-decoration: none;
  color: #444;
}
/* End of Entry Page Styles */

/* Start of Portfolio Styles */
.main-port {
  width: 65%;
  margin: 5% auto;
}
.language-tag {
  position: relative;
  top: 50%;
  left: 100%;
  height: 20px;
  width: 65px;
  margin-bottom: 3px;
  border: 2px solid #FFF;
  padding-top: 2px;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px #666;
}
.project-thumb {
  position: absolute;
  top: 5%;
  left: 5%;
}
.project-desc {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90%;
  border-top: 1px solid #FFF;
  padding-top: 5%;
  font-size: 1.5em;
  color: #FFF;
}
/* End of Portfolio Styles */

/* Start of Ribbon Style Banner */
.content-box {
  position: relative;
  display: inline-block;
  overflow: visible;
  vertical-align: top;
  width: 300px;
  height: 400px;
  margin: 0 50px 50px 50px;
  background-color: rgba(0, 0, 0, 0.5);;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.ribbon-container {
  position: absolute;
  overflow: visible;
  top: 15px;
  right: -20px;
}
.ribbon-container:before { /* Ribbon Shadow Part 1 (fork) */
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  height: 0;
  width: 0;
  border-top: 29px solid rgba(0, 0, 0, 0.3); /* Color 4 */
  border-right: 29px solid rgba(0, 0, 0, 0.3); /* Color 4 */
  border-bottom: 29px solid rgba(0, 0, 0, 0.3); /* Color 4 */
  border-left: 29px solid transparent;
}
.ribbon-container:after { /* Ribbon Shadow Part 2 (straight) */
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 58px;
  right: 3px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3); /* Color 4 */
}
.ribbon-container a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  position: relative;
  overflow: visible;
  height: 58px;
  margin-left: 29px;
  padding: 20px;
  font-size: 1.8em;
  color: #fff; /* Color 5 */
  text-decoration: none;
  background-color: #D00090; /* Color 1 */
}
.ribbon-container a:after { /* Ribbon Fold */
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  right: 0;
  height: 0;
  width: 0;
  border-top: 20px solid #880048; /* Color 3 */
  border-right: 20px solid transparent;
}
.ribbon-container a:before { /* Ribbon Fork */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -29px;
  height: 0;
  width: 0;
  border-top: 29px solid #D00090; /* Color 1 */
  border-bottom: 29px solid #D00090; /* Color 1 */
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
}
.ribbon-container a:hover { /* Change Main Ribbon Color on Hover */
  background-color: #E80CA8; /* Color 2 */
}
.ribbon-container a:hover:before { /* Change Fork Color on Hover */
  border-top: 29px solid #E80CA8; /* Color 2 */
  border-bottom: 29px solid #E80CA8; /* Color 2 */
}
/* End of Ribbon Style Banner */

/* Start of tablet width media query */
@media (min-width: 481px) {

}
/* End of tablet width media query */

/* Start of medium width media query */
@media (min-width: 900px) {

}
/* End of medium width media query */

/* Start of Large Wide media query */
@media (min-width: 1440px) {
	[class^="icon-"] {  /* icon font rule */
	  font-size: 5em;
	}
	[class^="icon-"]:hover {
	  opacity: 1;
	}
  footer {
    top: 95%;
    font-size: 1.5em;
    text-shadow: 3px 3px 7px rgba(50, 50, 50, 0.5);
    color: rgba(225, 225, 255, 0.5);
    background-color: rgba(33, 66, 99, 0);
  }
  .headshotWrapper {
    width: 15%;
    margin-top: 8%;
  }
  .mainHeadshot {
    box-shadow: 2px 3px 1px #666;
    -moz-box-shadow: 2px 3px 1px #666;
    -webkit-box-shadow: 2px 3px 1px #666;
  }
  .homeLinksWrapper {
    width: 60%;
    margin: 5% auto;
  }
  .homeLinks {
    display: inline;
    margin: 1% 5%;
    padding: 0;
    font-size: 3.5em;
    text-shadow: 2px 2px 2px #666;
    background-color: rgba(0, 0, 0, 0);
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
  }
  .homeLinks:hover {
    text-shadow: 4px 4px 4px #444;
  }
  .homeLinks:active {
	  color: #FFF;
		text-shadow: -1px -1px 3px #000;
  }
  .github-linkedin-wrapper {
    width: 20%;
    margin: 8% auto 0 auto;
    padding-top: 3%;
  }
  .error-text-one {
    padding-top: 20%;
    font-size: 7em;
    text-shadow: 2px 2px 10px #333;
  }
  .error-text-two {
    padding-bottom: 1%;
    font-size: 3em;
    text-shadow: 2px 2px 10px #333;
  }
  .error-text-three {
    padding: 0 5%;
    font-size: 2em;
    text-shadow: 2px 2px 10px #333;
  }
}
/* End of Large Wide media query */
