/*  main rules for icomoon font  */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.ttf?48bg3v');
}
[class^="icon-"] {
	font-family: 'icomoon';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  opacity: 0.5;
  font-size: 7em;
  margin: 0 15px;
  text-shadow: 2px 2px 2px #888;
}
[class^="icon-"]:hover {
  opacity: 1;
}
[class^="icon-"]:active {
	background-color: #444;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 2px 2px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.icon-phone:before {
	content: "\e900";
}
.icon-github:before {
	content: "\e901";
}
.icon-linkedin:before {
	content: "\e902";
}
/*  main rules for icomoon font  */

html {
  font-size: 12px;
  font-family: arial;
}
body {
  margin: 0;
  background-color: #50BBFF;
}
footer {
  position: fixed;
  top: 97%;
  height: 3%;
  width: 100%;
  margin: 0;
  padding-top: 1%;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 0 #999;
  color: rgba(33, 66, 99, 1);
  background-color: rgba(33, 66, 99, 0.4);
}

.headshotWrapper {
  width: 50%;
  margin: 0 auto;
  margin-top: 30%;
}
#mainHeadshot {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 4px 5px 2px #888;
}

.mainNavWrapper {
  width: 40%;
  margin: 10px auto;
  text-align: center;
}
.mainNavLinks {
  display: block;
  margin: 7px 0;
  border-radius: 45px;
  padding: 0 10%;
  font-size: 6em;
  text-decoration: none;
  text-shadow: 2px 2px 2px #888;
  color: #FFF;
  background-color: #40ABEF;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.mainNavLinks:active {
  text-shadow: 4px 4px 4px #444;
	box-shadow: none;
}

.lighWrapper {
  width: 40%;
  margin: 15% auto 0 auto;
  border-top: 1px solid #000;
  padding-top: 5%;
  text-align: center;
}
.noDec {
  text-decoration: none;
  color: #444;
}

@media (min-width: 1440px) {
	[class^="icon-"] {  /* icomoon font rule */
	  font-size: 5em;
	}
  footer {
    top: 95%;
    font-size: 1.5em;
    text-shadow: 3px 3px 7px rgba(50, 50, 50, 0.5);
    color: rgba(225, 225, 255, 0.5);
    background-color: rgba(33, 66, 99, 0);
  }
  .headshotWrapper {
    width: 15%;
    margin-top: 8%;
  }
  #mainHeadshot {
    box-shadow: 2px 3px 1px #666;
  }
  .mainNavWrapper {
    width: 60%;
    margin: 5% auto;
  }
  .mainNavLinks {
    display: inline;
    margin: 1% 5%;
    padding: 0;
    font-size: 4em;
    text-shadow: 2px 2px 2px #666;
    background-color: rgba(0, 0, 0, 0);
		box-shadow: none;
  }
  .mainNavLinks:hover {
    text-shadow: 4px 4px 4px #444;
  }
  .mainNavLinks:active {
    text-shadow: 1px 1px 1px #444;
  }
  .lighWrapper {
    width: 40%;
    margin: 8% auto 0 auto;
    padding-top: 3%;
  }
}
