* { /* Reset all box models */
  margin: 0;
  border: 0;
  padding: 0;
  overflow: auto; /* Part 1 of overflow control (this removes the huge blank space without an element on the main page) */
}

/* Start of tag-specific styles */
html {
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: "eurofurence", arial;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #50BBFF;
}
/* Start of nav bar styles */
nav {
  z-index: 5;
  position: fixed;
  top: 0;
  height: 12%;
  width: 100%;
  overflow: visible;
  background-color: #346;
  box-shadow: 0 0 10px 4px #333;
}
nav ul {
  height: 100%;
  overflow: inherit;
}
nav ul li {
  display: inline-block;
  height: 100%;
  width: 28%;
  padding-top: 6%;
  overflow: inherit;
  vertical-align: top;
}
nav ul li:active {
  -webkit-box-shadow: inset 1px 1px 8px 1px #112;
     -moz-box-shadow: inset 1px 1px 8px 1px #112;
          box-shadow: inset 1px 1px 8px 1px #112;
}
.list-left {
  width: 22%;
}
.list-right {
  width: 18%;
}
nav ul li a {
  display: block;
  height: 70%;
  overflow: inherit;
  text-align: center;
  font-size: 2em;
  font-family: "eurofurence";
  color: #FFF;
  text-decoration: none;
}
/* End of nav bar styles */
footer {
  position: fixed;
  top: 96%;
  height: 4%;
  width: 100%;
  margin: 0;
  padding-top: 1%;
  font-size: 1.2em;
  text-align: center;
  text-shadow: 1px 1px 0 #999;
  color: rgba(33, 66, 99, 1);
  background-color: rgba(33, 66, 99, 0.4);
}
/* End of tag-specific styles */

@font-face { /* Main text font */
	font-family: "eurofurence";
  src: url("fonts/eurofurence.ttf");
}

/*  Start of main icon font styles  */
@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.ttf?48bg3v");
}
[class^="icon-"] {
	font-family: "icomoon";
	 -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  opacity: 0.5;
  font-size: 4em;
  margin: 0 5px;
  text-shadow: 2px 2px 2px #888;
}
[class^="icon-"]:active {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 2px 2px rgba(255,255,255,0.5);
}
.icon-phone:before {
	content: "\e900";
}
.icon-github:before {
	content: "\e901";
}
.icon-linkedin:before {
	content: "\e902";
}
/*  End of main icon font styles  */

footer, .main-port, .error-text-one, .error-text-three, .headshot-wrapper, .home-links-wrapper, .github-linkedin-wrapper, .each-project, .ribbon-container {
  overflow: visible; /* Part 2 of overflow control (this ensures that shadows display properly when they spill over borders) */
}

/*  Start of 404 page styles  */
.error-main {
  height: 100%;
}
.dim-the-page {
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(80, 0, 0, 0.4);
}
.error-text-one {
  padding-top: 40%;
  text-align: center;
  font-size: 5em;
  text-shadow: 2px 2px 10px #333;
  color: #FFF;
}
.error-text-two {
  padding-bottom: 2%;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 10px #333;
  color: #FFF;
}
.error-text-three {
  padding: 0 5%;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 10px #333;
  color: #FFF;
}
.error-text-three a {
  text-decoration: none;
}
/*  End of 404 page styles  */

/*  Start of entry page styles  */
.headshot-wrapper {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}
.main-headshot {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 2px #666;
     -moz-box-shadow: 2px 3px 2px #666;
          box-shadow: 2px 3px 2px #666;
}
.home-links-wrapper {
  width: 45%;
  margin: 8% auto;
  text-align: center;
}
.home-links {
  display: block;
  margin: 7px 0;
  border-radius: 45px;
  padding: 0 10%;
  font-size: 2.8em;
  text-decoration: none;
  text-shadow: 2px 2px 2px #888;
  color: #FFF;
  background-color: #40ABEF;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.home-links:active {
  text-shadow: 4px 4px 4px #444;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.github-linkedin-wrapper {
  width: 40%;
  margin: 15% auto 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 5%;
  text-align: center;
}
.no-decoration {
  text-decoration: none;
  color: #444;
}
/* End of Entry Page Styles */

/* Start of me page styles */
.me-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #333;
}
.diag {
  position: relative;
  top: 6%;
  left: -50px;
  height: 350px;
  width: 130%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
}
.diag-head {
  position: relative;
  top: 0;
  height: 10%;
  width: 110%;
  padding: 2% 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}
.diag-head h1 {
  position: relative;
  left: 20%;
  font-size: 3em;
  color: #FFF;
}
.top-diag-head {
  padding-top: 8%;
}
.diag-me {
  background-color: #50BBFF;
}
.diag-write {
  height: 320px;
  background-color: #458;
}
.diag-enjoy {
  height: 300px;
  overflow: hidden;
  background-color: #333;
}
.diag-enjoy div {
  height: 12%;
}
.diag-content {
  margin-top: 6%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
          transform: rotate(8deg);
}
.diag-content p {
  padding: 5px 17%;
  font-size: 1.9em;
  color: #FFF;
}
/* End of me page styles */

/* Start of Portfolio Styles */
.main-port {
  width: 90%;
  margin: 5% auto;
  padding-top: 22%;
  padding-bottom: 10%;
}
.project-lang {
  position: relative;
  top: 60%;
  left: 85%;
  height: 20px;
  width: 65px;
  margin-bottom: 3px;
  border: 2px solid #FFF;
  padding-top: 2px;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.project-thumb {
  position: absolute;
  top: 5%;
  left: 5%;
}
.project-desc {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90%;
  border-top: 1px solid #FFF;
  padding-top: 5%;
  font-size: 1.6em;
  line-height: 1.2em;
  color: #FFF;
}
.project-reqs {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 75%;
  height: 20%;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow-y: auto;
  font-size: 1.6em;
  line-height: 1.2em;
  color: #FFF;
}
.project-git-link {
  position: absolute;
  top: 92%;
  left: 5%;
  font-size: 1.2em;
  color: #FFF;
  text-align: center;
}
.each-project {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 400px;
  margin: 15px 15px 5px 5px;
  overflow: visible;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

/* Start of Ribbon Style Banner */
.ribbon-container {
  position: absolute;
  top: 15px;
  right: -20px;
}
.ribbon-container:before { /* Ribbon Shadow Part 1 (fork) */
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  height: 0;
  width: 0;
  border-top: 29px solid rgba(0, 0, 0, 0.3); /* Color 4 */
  border-right: 29px solid rgba(0, 0, 0, 0.3); /* Color 4 */
  border-bottom: 29px solid rgba(0, 0, 0, 0.3); /* Color 4 */
  border-left: 29px solid transparent;
}
.ribbon-container:after { /* Ribbon Shadow Part 2 (straight) */
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 58px;
  right: 3px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3); /* Color 4 */
}
.ribbon-container a {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  height: 58px;
  margin-left: 29px;
  padding: 20px;
  overflow: visible;
  font-size: 1.8em;
  color: #fff; /* Color 5 */
  text-decoration: none;
  background-color: #D00090; /* Color 1 */
}
.ribbon-container a:after { /* Ribbon Fold */
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  right: 0;
  height: 0;
  width: 0;
  border-top: 20px solid #880048; /* Color 3 */
  border-right: 20px solid transparent;
}
.ribbon-container a:before { /* Ribbon Fork */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -29px;
  height: 0;
  width: 0;
  border-top: 29px solid #D00090; /* Color 1 */
  border-bottom: 29px solid #D00090; /* Color 1 */
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
}
.ribbon-container a:hover { /* Change Main Ribbon Color on Hover */
  background-color: #E80CA8; /* Color 2 */
}
.ribbon-container a:hover:before { /* Change Fork Color on Hover */
  border-top: 29px solid #E80CA8; /* Color 2 */
  border-bottom: 29px solid #E80CA8; /* Color 2 */
}
/* End of Ribbon Style Banner */
/* End of Portfolio Styles */

/* Start of galaxy media query */
@media only screen and (min-width: 360px) {
  .diag-me {
    height: 66%;
  }
  .diag-write {
    height: 60%;
  }
  .diag-enjoy {
    height: 53%;
  }
  .diag-enjoy div {
    height: 12%;
  }
  .each-project {
    margin: 15px 32px 5px 25px;
  }
}
/* End of galaxy media query */

/* Start of mobile landscape media query */
@media only screen and (max-width: 668px) and (orientation: landscape) {
  [class^="icon-"] {
    font-size: 3em;
    margin: 0 10px;
  }
  nav {
    height: 15%;
  }
  nav ul li {
    padding-top: 1%;
  }
  footer {
    top: 94%;
    height: 6%;
    padding-top: 2px;
  }
  .headshot-wrapper {
    width: 35%;
    margin: 0 auto 0 5%;
    margin-top: 3%;
  }
  .home-links-wrapper {
    position: absolute;
    top: -10%;
    left: 48%;
    width: 40%;
  }
  .github-linkedin-wrapper {
    position: absolute;
    top: 35%;
    left: 48%;
    padding-top: 3%;
  }
  .main-port {
    width: 93%;
    padding-top: 4%;
    padding-bottom: 5%;
  }
  .each-project {
    margin: 15px 7% 5px 5px;
  }
  .error-text-one {
    padding-top: 10%;
  }
}
/* End of mobile landscape media query */

/* Start of large PC media query */
@media only screen and (min-width: 1200px) {
	[class^="icon-"] {  /* icon font rule */
	  font-size: 5em;
	}
	[class^="icon-"]:hover {
	  opacity: 1;
	}
  nav {
    height: 7%;
  }
  nav ul li {
    width: 19%;
    padding: 0;
  }
  nav ul li:hover {
    background-color: #568;
  }
  nav ul li a {
    padding-top: 5%;
    font-size: 2.5em;
  }
  footer {
    top: 95%;
    font-size: 1.5em;
    text-shadow: 3px 3px 7px rgba(50, 50, 50, 0.5);
    color: rgba(225, 225, 255, 0.5);
    background-color: rgba(33, 66, 99, 0);
  }
  .headshot-wrapper {
    width: 15%;
    margin-top: 8%;
  }
  .main-headshot {
    -webkit-box-shadow: 2px 3px 1px #666;
       -moz-box-shadow: 2px 3px 1px #666;
            box-shadow: 2px 3px 1px #666;
  }
  .home-links-wrapper {
    width: 60%;
    margin: 5% auto;
  }
  .home-links {
    display: inline;
    margin: 1% 5%;
    padding: 0;
    font-size: 3.5em;
    text-shadow: 2px 2px 2px #666;
    background-color: rgba(0, 0, 0, 0);
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
  }
  .home-links:hover {
    text-shadow: 4px 4px 4px #444;
  }
  .home-links:active {
	  color: #FFF;
		text-shadow: -1px -1px 3px #000;
  }
  .github-linkedin-wrapper {
    width: 20%;
    margin: 8% auto 0 auto;
    padding-top: 3%;
  }
  .error-text-one {
    padding-top: 20%;
    font-size: 7em;
    text-shadow: 2px 2px 10px #333;
  }
  .error-text-two {
    padding-bottom: 1%;
    font-size: 3em;
    text-shadow: 2px 2px 10px #333;
  }
  .error-text-three {
    padding: 0 5%;
    font-size: 2em;
    text-shadow: 2px 2px 10px #333;
  }
  .diag {
    top: -12%;
    height: 55%;
  }
  .diag-head {
    height: 12%;
    padding: 1% 0;
  }
  .diag-head h1 {
    left: 5%;
    font-size: 4em;
  }
  .top-diag-head {
    padding-top: 2%;
  }
  .diag-content p {
    font-size: 2.2em;
  }
  .main-port {
    width: 65%;
    padding: 0;
  }
  .project-lang {
    top: 50%;
    left: 100%;
  }
  .project-desc {
    font-size: 1.8em;
  }
  .project-reqs {
    width: 90%;
    padding-top: 3%;
    padding-bottom: 5%;
    overflow-y: auto;
  }
  .each-project {
    width: 300px;
    margin: 0 50px 50px 50px;
  }
}
/* End of large PC media query */
